pipeline/Load_data_practice.json
{
	"name": "Load_data_practice",
	"properties": {
		"activities": [
			{
				"name": "Get List of Tables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set Batch ID",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.metadata_tables\nwhere load_table = 'Yes'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_Training_SRC",
						"type": "DatasetReference",
						"parameters": {
							"src_schema": "a",
							"src_table": "b"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get List of Tables",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get List of Tables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set Start Time",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select * from ',item().src_schema_name,'.',item().src_table_name)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@concat('Truncate Table ',item().dst_schema_name,'.',item().dst_table_name)",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ASQL_Training_SRC",
									"type": "DatasetReference",
									"parameters": {
										"src_schema": {
											"value": "@item().src_schema_name",
											"type": "Expression"
										},
										"src_table": {
											"value": "@item().src_table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ASQL_Training_DST",
									"type": "DatasetReference",
									"parameters": {
										"dst_schema": {
											"value": "@item().dst_schema_name",
											"type": "Expression"
										},
										"dst_table": {
											"value": "@item().dst_table_name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set Start Time",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "New_Start_time",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set End Time",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "New_End_time",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Success Log",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set End Time",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_log_insert]",
								"storedProcedureParameters": {
									"batchid": {
										"value": {
											"value": "@variables('New_batch_id')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"duration": {
										"value": {
											"value": "@activity('Copy Data1').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"end_time": {
										"value": {
											"value": "@variables('New_End_time')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"pipeline_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"start_time": {
										"value": {
											"value": "@variables('New_Start_time')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"status": {
										"value": "Success",
										"type": "String"
									},
									"status_message": {
										"value": "Pipeline Executed Successfully",
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@concat(item().dst_schema_name,'.',item().dst_table_name) ",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASQL_Training",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Failure Log",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_log_insert]",
								"storedProcedureParameters": {
									"batchid": {
										"value": {
											"value": "@variables('New_batch_id')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"duration": {
										"value": {
											"value": "@activity('Copy data1').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"end_time": {
										"value": {
											"value": "@variables('New_End_time')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"pipeline_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"start_time": {
										"value": {
											"value": "@variables('New_Start_time')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"status": {
										"value": "Failure",
										"type": "String"
									},
									"status_message": {
										"value": {
											"value": "@replace(activity('Copy Data1').output.errors[0].Message, '''','')",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@concat(item().dst_schema_name,'.',item().dst_table_name)",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASQL_Training",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Set Batch ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Batch ID",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "New_batch_id",
					"value": {
						"value": "@activity('Get Batch ID').output.firstRow.New_batch_id",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Batch ID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select ISNULL(max(batch_id),0)+1 as new_batch_id\nfrom dbo.log_table ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_Training_SRC",
						"type": "DatasetReference",
						"parameters": {
							"src_schema": "a",
							"src_table": "b"
						}
					}
				}
			}
		],
		"variables": {
			"New_Start_time": {
				"type": "String"
			},
			"New_End_time": {
				"type": "String"
			},
			"New_batch_id": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-01T10:31:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}