pipeline/Send Email.json
{
	"name": "Send Email",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-19.uksouth.logic.azure.com:443/workflows/c870b6a5ed6d4bb9b983e7f43c8498ab/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=_24KIbsC6eyj5dgdYyOIPi_nXfvffpZo0Gf_WUP_fl4",
					"body": {
						"To": "@{pipeline().parameters.To}",
						"Subject": "@{pipeline().parameters.Subject}",
						"ResultSet": "@{activity('Lookup1').output.value}"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.vw_log_table",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_Training_SRC",
						"type": "DatasetReference",
						"parameters": {
							"src_schema": "na",
							"src_table": "na"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"To": {
				"type": "string",
				"defaultValue": "qain@calrom.com"
			},
			"Subject": {
				"type": "string",
				"defaultValue": "Test Email"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-02T12:51:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}